# Soccer Data Preprocessing

This notebook is dedicated to **loading, merging, and cleaning soccer datasets** from multiple European leagues along with player salary information.  

The main goals of this preprocessing step are:

1. **Load raw data** from each league (Bundesliga, Liga1, Premier Liga, Serie A) and salary datasets.  
2. **Merge all league datasets** into a single DataFrame, since they share the same structure, while keeping track of the league for each player.  
3. **Explore and clean** both the merged league dataset and the salary dataset:
   - Handle missing values
   - Standardize column names
   - Correct data types and formats
   - Identify and address outliers if necessary
4. **Merge the cleaned league and salary datasets** into a final unified dataset for modeling player performance (`xGg`, `aGg`) and salary prediction.  
5. **Save the final preprocessed dataset** into the `data/preprocessed/` folder for use in analysis and modeling.

> **Note:** Raw data is preserved in the `data/raw/` folder. All cleaned and merged data will be saved in `data/preprocessed/`.

In [3]:
# 1️⃣ Import important libraries
import pandas as pd
import os

In [36]:
# 2️⃣ Loading datasets
salary = pd.read_csv("../data/raw/Salary/capology_big5_latest.xls")

In [53]:
# Load Premier League datasets
season_2014_2015_epl = pd.read_csv('../data/raw/EPL/metadata_premier_league_1415.xls')
season_2015_2016_epl = pd.read_csv('../data/raw/EPL/metadata_premier_league_1516.xls')
season_2016_2017_epl = pd.read_csv('../data/raw/EPL/metadata_premier_league_1617.xls')
season_2017_2018_epl = pd.read_csv('../data/raw/EPL/metadata_premier_league_1718.xls')
season_2018_2019_epl = pd.read_csv('../data/raw/EPL/metadata_premier_league_1819.xls')
season_2019_2020_epl = pd.read_csv('../data/raw/EPL/metadata_premier_league_1920.xls')
season_2020_2021_epl = pd.read_csv('../data/raw/EPL/metadata_premier_league_2021.xls')
season_2021_2022_epl = pd.read_csv('../data/raw/EPL/metadata_premier_league_2122.xls')


# Load Bundesliga datasets
season_2014_2015_bl = pd.read_csv("../data/raw/Bundesliga/metadata_bundesliga_1415.xls")
season_2015_2016_bl = pd.read_csv("../data/raw/Bundesliga/metadata_bundesliga_1516.xls")
season_2016_2017_bl = pd.read_csv("../data/raw/Bundesliga/metadata_bundesliga_1617.xls")
season_2017_2018_bl = pd.read_csv("../data/raw/Bundesliga/metadata_bundesliga_1718.xls")
season_2018_2019_bl = pd.read_csv("../data/raw/Bundesliga/metadata_bundesliga_1819.xls")
season_2019_2020_bl = pd.read_csv("../data/raw/Bundesliga/metadata_bundesliga_1920.xls")
season_2020_2021_bl = pd.read_csv("../data/raw/Bundesliga/metadata_bundesliga_2021.xls")
season_2021_2022_bl = pd.read_csv("../data/raw/Bundesliga/metadata_bundesliga_2122.xls")

# Load  Liga1 datasets
season_2014_2015_l1 = pd.read_csv('../data/raw/Liga1/metadata_ligue1_1415_.xls')
season_2015_2016_l1 = pd.read_csv('../data/raw/Liga1/metadata_ligue1_1516.xls')
season_2016_2017_l1 = pd.read_csv('../data/raw/Liga1/metadata_ligue1_1617.xls')
season_2017_2018_l1 = pd.read_csv('../data/raw/Liga1/metadata_ligue1_1718.xls')
season_2018_2019_l1 = pd.read_csv('../data/raw/Liga1/metadata_ligue1_1819.xls')
season_2019_2020_l1 = pd.read_csv('../data/raw/Liga1/metadata_ligue1_1920.xls')
season_2020_2021_l1 = pd.read_csv('../data/raw/Liga1/metadata_ligue1_2021.xls')
season_2021_2022_l1 = pd.read_csv('../data/raw/Liga1/metadata_ligue1_2122.xls')


# Load La Liga datasets
season_2014_2015_la = pd.read_csv('../data/raw/Laliga/metadata_laliga_1415.xls')
season_2015_2016_la = pd.read_csv('../data/raw/Laliga/metadata_laliga_1516.xls')
season_2016_2017_la = pd.read_csv('../data/raw/Laliga/metadata_laliga_1617.xls')
season_2017_2018_la = pd.read_csv('../data/raw/Laliga/metadata_laliga_1718.xls')
season_2018_2019_la = pd.read_csv('../data/raw/Laliga/metadata_laliga_1819.xls')
season_2019_2020_la = pd.read_csv('../data/raw/Laliga/metadata_laliga_1920.xls')
season_2020_2021_la = pd.read_csv('../data/raw/Laliga/metadata_laliga_2021.xls')
season_2021_2022_la = pd.read_csv('../data/raw/Laliga/metadata_laliga_2122.xls')

# Load Serie A datasets
season_2014_2015_a = pd.read_csv('../data/raw/Serie A/metadata_serie_a_1415.xls')
season_2015_2016_a = pd.read_csv('../data/raw/Serie A/metadata_serie_a_1516.xls')
season_2016_2017_a = pd.read_csv('../data/raw/Serie A/metadata_serie_a_1617.xls')
season_2017_2018_a = pd.read_csv('../data/raw/Serie A/metadata_serie_a_1718.xls')
season_2018_2019_a = pd.read_csv('../data/raw/Serie A/metadata_serie_a_1819.xls')
season_2019_2020_a = pd.read_csv('../data/raw/Serie A/metadata_serie_a_1920.xls')
season_2020_2021_a = pd.read_csv('../data/raw/Serie A/metadata_serie_a_2021.xls')
season_2021_2022_a = pd.read_csv('../data/raw/Serie A/metadata_serie_a_2122.xls')

In [55]:
# ---------------------------- 🎯
# Merge all seasons per league ⚽
# ---------------------------- 📊

# Premier League
df_epl = pd.concat([
    season_2014_2015_epl, season_2015_2016_epl, season_2016_2017_epl, 
    season_2017_2018_epl, season_2018_2019_epl, season_2019_2020_epl, 
    season_2020_2021_epl, season_2021_2022_epl
], ignore_index=True)

# Bundesliga
df_bl = pd.concat([
    season_2014_2015_bl, season_2015_2016_bl, season_2016_2017_bl, 
    season_2017_2018_bl, season_2018_2019_bl, season_2019_2020_bl, 
    season_2020_2021_bl, season_2021_2022_bl
], ignore_index=True)

# La Liga
df_la = pd.concat([
    season_2014_2015_la, season_2015_2016_la, season_2016_2017_la, 
    season_2017_2018_la, season_2018_2019_la, season_2019_2020_la, 
    season_2020_2021_la, season_2021_2022_la
], ignore_index=True)

# Ligue 1
df_l1 = pd.concat([
    season_2014_2015_l1, season_2015_2016_l1, season_2016_2017_l1, 
    season_2017_2018_l1, season_2018_2019_l1, season_2019_2020_l1, 
    season_2020_2021_l1, season_2021_2022_l1
], ignore_index=True)

# Serie A
df_a = pd.concat([
    season_2014_2015_a, season_2015_2016_a, season_2016_2017_a, 
    season_2017_2018_a, season_2018_2019_a, season_2019_2020_a, 
    season_2020_2021_a, season_2021_2022_a
], ignore_index=True)

# Reset index (optional since ignore_index=True is already used) 🔄
df_epl.reset_index(drop=True, inplace=True)
df_bl.reset_index(drop=True, inplace=True)
df_la.reset_index(drop=True, inplace=True)
df_l1.reset_index(drop=True, inplace=True)
df_a.reset_index(drop=True, inplace=True)

In [58]:
#Example 5 rows
df_a.head()

,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup,league_ratio
0,1513,Mauro Icardi,36,2897,22,20.040535,6,4.607650,121,34,4,0,F S,Inter,18,16.234041,23.242989,4.910617,7.0
1,1955,Luca Toni,38,3228,22,21.204769,2,2.914252,125,27,3,0,F S,Verona,18,16.636976,18.810562,3.106042,7.0
2,3848,Carlos T??vez,32,2594,20,13.372144,7,5.016580,114,61,6,0,F M S,Juventus,18,10.327029,20.007632,8.907537,7.0
3,1293,Gonzalo Higua??n,37,2786,18,21.097412,7,4.082174,113,49,5,0,F S,Napoli,15,15.768320,22.711577,4.917353,7.0
4,2014,J??r??my Menez,33,2713,16,10.936869,4,4.379692,78,46,3,1,F M S,AC Milan,8,4.846598,13.755916,6.889687,7.0

In [60]:

# Merge all leagues into a single DataFrame ⚽📊🎯
# ----------------------------

# Add a column to identify the league
df_epl['league'] = 'Premier League'
df_bl['league'] = 'Bundesliga'
df_la['league'] = 'La Liga'
df_l1['league'] = 'Ligue 1'
df_a['league'] = 'Serie A'

# Concatenate all leagues
df_all_leagues = pd.concat([df_epl, df_bl, df_la, df_l1, df_a], ignore_index=True)

# Reset index
df_all_leagues.reset_index(drop=True, inplace=True)

In [61]:
df_all_leagues.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20976 entries, 0 to 20975
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20926 non-null  float64
 1   player_name   20926 non-null  object
 2   games         20926 non-null  float64
 3   time          20926 non-null  float64
 4   goals         20926 non-null  float64
 5   xG            20926 non-null  float64
 6   assists       20926 non-null  float64
 7   xA            20926 non-null  float64
 8   shots         20926 non-null  float64
 9   key_passes    20926 non-null  float64
 10  yellow_cards  20926 non-null  float64
 11  red_cards     20926 non-null  float64
 12  position      20926 non-null  object
 13  team_title    20926 non-null  object
 14  npg           20926 non-null  float64
 15  npxG          20926 non-null  float64
 16  xGChain       20926 non-null  float64
 17  xGBuildup     20926 non-null  float64
 18  league_ratio  2124 non-null   float64
 19  league        20976 non-null  object
dtypes: float64(16), object(4)
memory usage: 3.2+ MB

In [62]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16741 entries, 0 to 16740
Data columns (total 15 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   player                             16741 non-null  object
 1   season                             16741 non-null  object
 2   league                             16741 non-null  object
 3   team                               16741 non-null  object
 4   position                           16741 non-null  object
 5   outfielder_goalkeeper              16741 non-null  object
 6   age                                16741 non-null  int64
 7   country                            14180 non-null  object
 8   weekly_gross_base_salary_gbp       16741 non-null  int64
 9   annual_gross_base_salary_gbp       16741 non-null  int64
 10  adj_current_gross_base_salary_gbp  14180 non-null  float64
 11  estimated_gross_total_gbp          512 non-null    float64
 12  current_contract_status            2561 non-null   object
 13  current_contract_expiration        2561 non-null   object
 14  current_contract_length            2561 non-null   object
dtypes: float64(2), int64(3), object(10)
memory usage: 1.9+ MB

In [63]:
# Matching df_all_leagues with salary
# Rename columns in df_all_leagues to match salary table where needed
df_all_leagues.rename(columns={
    'player_name': 'player',
    'team_title': 'team'
}, inplace=True)

In [64]:
salary_subset = salary[['player', 'age', 'league', 'adj_current_gross_base_salary_gbp']]

In [ ]:
df = pd.merge(
    df_all_leagues,
    salary_subset,
    on=['player', 'league'],
    how='left'  
)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57790 entries, 0 to 57789
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 57740 non-null  float64
 1   player                             57740 non-null  object
 2   games                              57740 non-null  float64
 3   time                               57740 non-null  float64
 4   goals                              57740 non-null  float64
 5   xG                                 57740 non-null  float64
 6   assists                            57740 non-null  float64
 7   xA                                 57740 non-null  float64
 8   shots                              57740 non-null  float64
 9   key_passes                         57740 non-null  float64
 10  yellow_cards                       57740 non-null  float64
 11  red_cards                          57740 non-null  float64
 12  position                           57740 non-null  object
 13  team                               57740 non-null  object
 14  npg                                57740 non-null  float64
 15  npxG                               57740 non-null  float64
 16  xGChain                            57740 non-null  float64
 17  xGBuildup                          57740 non-null  float64
 18  league_ratio                       4712 non-null   float64
 19  league                             57790 non-null  object
 20  age                                53095 non-null  float64
 21  adj_current_gross_base_salary_gbp  44271 non-null  float64
dtypes: float64(18), object(4)
memory usage: 9.7+ MB

In [ ]:
df['salary']=df['adj_current_gross_base_salary_gbp']

In [69]:
df.drop(columns=['adj_current_gross_base_salary_gbp'], inplace=True)

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57790 entries, 0 to 57789
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            57740 non-null  float64
 1   player        57740 non-null  object
 2   games         57740 non-null  float64
 3   time          57740 non-null  float64
 4   goals         57740 non-null  float64
 5   xG            57740 non-null  float64
 6   assists       57740 non-null  float64
 7   xA            57740 non-null  float64
 8   shots         57740 non-null  float64
 9   key_passes    57740 non-null  float64
 10  yellow_cards  57740 non-null  float64
 11  red_cards     57740 non-null  float64
 12  position      57740 non-null  object
 13  team          57740 non-null  object
 14  npg           57740 non-null  float64
 15  npxG          57740 non-null  float64
 16  xGChain       57740 non-null  float64
 17  xGBuildup     57740 non-null  float64
 18  league_ratio  4712 non-null   float64
 19  league        57790 non-null  object
 20  age           53095 non-null  float64
 21  salary        44271 non-null  float64
dtypes: float64(18), object(4)
memory usage: 9.7+ MB

# Cleaning

In [93]:
import importlib.util
import sys
from pathlib import Path

# Path to your data_preprocessing.py file
script_path = Path("..") / "scripts" / "data_preprocessing.py"

# Load the module dynamically
spec = importlib.util.spec_from_file_location("data_preprocessing", script_path)
dp_module = importlib.util.module_from_spec(spec)
sys.modules["data_preprocessing"] = dp_module
spec.loader.exec_module(dp_module)

# Now you can access your class
SoccerDataPreprocessor = dp_module.SoccerDataPreprocessor
print("Import successful ✅")

Import successful ✅

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57790 entries, 0 to 57789
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            57740 non-null  float64
 1   player        57740 non-null  object
 2   games         57740 non-null  float64
 3   time          57740 non-null  float64
 4   goals         57740 non-null  float64
 5   xG            57740 non-null  float64
 6   assists       57740 non-null  float64
 7   xA            57740 non-null  float64
 8   shots         57740 non-null  float64
 9   key_passes    57740 non-null  float64
 10  yellow_cards  57740 non-null  float64
 11  red_cards     57740 non-null  float64
 12  position      57740 non-null  object
 13  team          57740 non-null  object
 14  npg           57740 non-null  float64
 15  npxG          57740 non-null  float64
 16  xGChain       57740 non-null  float64
 17  xGBuildup     57740 non-null  float64
 18  league_ratio  4712 non-null   float64
 19  league        57790 non-null  object
 20  age           53095 non-null  float64
 21  salary        44271 non-null  float64
dtypes: float64(18), object(4)
memory usage: 9.7+ MB

In [100]:
# Initialize
preprocessor = SoccerDataPreprocessor(df)

# Apply preprocessing
preprocessor.fill_missing_values() \
            .encode_categorical() \
            .scale_numeric()

# Get the preprocessed dataframe
df_clean = preprocessor.get_data()

# Now df_clean has all changes
print(df_clean.head())

         id    player     games      time     goals        xG  assists  \
0  0.061200  0.862808  0.864865  0.745832  0.541667  0.642863      0.4
1  0.063973  0.367692  0.891892  0.756946  0.437500  0.436475      0.2
2  0.063973  0.367692  0.891892  0.756946  0.437500  0.436475      0.2
3  0.063973  0.367692  0.891892  0.756946  0.437500  0.436475      0.2
4  0.063973  0.367692  0.891892  0.756946  0.437500  0.436475      0.2

         xA     shots  key_passes  ...  position      team       npg  \
0  0.270065  0.651982    0.226027  ...  0.666667  0.754579  0.552632
1  0.190221  0.493392    0.184932  ...  0.600000  0.965201  0.500000
2  0.190221  0.493392    0.184932  ...  0.600000  0.965201  0.500000
3  0.190221  0.493392    0.184932  ...  0.600000  0.965201  0.500000
4  0.190221  0.493392    0.184932  ...  0.600000  0.965201  0.500000

       npxG   xGChain  xGBuildup  league_ratio  league       age        salary
0  0.644603  0.507823   0.245134           1.0    0.75  0.393563  2.107741e+06
1  0.463103  0.301139   0.197788           1.0    0.75  0.250000  5.465229e+06
2  0.463103  0.301139   0.197788           1.0    0.75  0.285714  5.342729e+06
3  0.463103  0.301139   0.197788           1.0    0.75  0.321429  1.050291e+07
4  0.463103  0.301139   0.197788           1.0    0.75  0.392857  1.040000e+07

[5 rows x 22 columns]

c:\Users\davro\OneDrive\Desktop\Github Projects\notebooks\..\scripts\data_preprocessing.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].mean(), inplace=True)
c:\Users\davro\OneDrive\Desktop\Github Projects\notebooks\..\scripts\data_preprocessing.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[col].fillna(self.df[col].mode()[0], inplace=True)

In [101]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57790 entries, 0 to 57789
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            57790 non-null  float64
 1   player        57790 non-null  float64
 2   games         57790 non-null  float64
 3   time          57790 non-null  float64
 4   goals         57790 non-null  float64
 5   xG            57790 non-null  float64
 6   assists       57790 non-null  float64
 7   xA            57790 non-null  float64
 8   shots         57790 non-null  float64
 9   key_passes    57790 non-null  float64
 10  yellow_cards  57790 non-null  float64
 11  red_cards     57790 non-null  float64
 12  position      57790 non-null  float64
 13  team          57790 non-null  float64
 14  npg           57790 non-null  float64
 15  npxG          57790 non-null  float64
 16  xGChain       57790 non-null  float64
 17  xGBuildup     57790 non-null  float64
 18  league_ratio  57790 non-null  float64
 19  league        57790 non-null  float64
 20  age           57790 non-null  float64
 21  salary        57790 non-null  float64
dtypes: float64(22)
memory usage: 9.7 MB

In [102]:
df = preprocessor.get_data()

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57790 entries, 0 to 57789
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            57790 non-null  float64
 1   player        57790 non-null  float64
 2   games         57790 non-null  float64
 3   time          57790 non-null  float64
 4   goals         57790 non-null  float64
 5   xG            57790 non-null  float64
 6   assists       57790 non-null  float64
 7   xA            57790 non-null  float64
 8   shots         57790 non-null  float64
 9   key_passes    57790 non-null  float64
 10  yellow_cards  57790 non-null  float64
 11  red_cards     57790 non-null  float64
 12  position      57790 non-null  float64
 13  team          57790 non-null  float64
 14  npg           57790 non-null  float64
 15  npxG          57790 non-null  float64
 16  xGChain       57790 non-null  float64
 17  xGBuildup     57790 non-null  float64
 18  league_ratio  57790 non-null  float64
 19  league        57790 non-null  float64
 20  age           57790 non-null  float64
 21  salary        57790 non-null  float64
dtypes: float64(22)
memory usage: 9.7 MB

In [104]:
import os

# Make sure the folder exists
output_folder = "../data/preprocessed"
os.makedirs(output_folder, exist_ok=True)

# Define file name
output_file = os.path.join(output_folder, "df_preprocessed.csv")

# Save the dataframe
df_clean.to_csv(output_file, index=False)

print(f"Preprocessed dataset saved to: {output_file} ✅")

Preprocessed dataset saved to: ../data/preprocessed\df_preprocessed.csv ✅